@import "./reset.css";

header {
  width: auto;
}

nav {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
header > div {
  margin-top: 100px;
}
div,
.header-sec article {
  border: 1px solid white;
}

.upper-nav {
  height: 30px;
  background-color: black;
  color: hsla(0, 0%, 100%, 0.6);
}
.lower-nav {
  background-color: white;
  color: #aaa;
  height: 45px;
}
.logo,
.upper-nav-left,
.lower-nav-list {
  float: left;
}
.logo {
  width: 40px;
  height: 75px;
  display: none;
}
.search-div ul li,
.upper-nav-left ul li,
.upper-nav-right ul li,
.lower-nav-list ul li {
  display: inline-block;
  padding: 7px;
}

.upper-nav-right {
  float: right;
}
.search-div {
  width: 40px;
  height: 40px;
  float: right;
}
.menu {
  display: none;
}
.spacer {
  background-color: #ffdd33;
  padding: 10px;
}
.header-sec {
  display: grid;
  background-color: green;
  grid-template-columns: 2fr 1fr;
  height: 400px;
  width: 100%;
  position: relative;
}

.big-news,
.small-news-1,
.small-news-2
{
 background-repeat: no-repeat;
  background-size: cover;
  }

.big-news {
  grid-row: 1/3;
  background-image:linear-gradient(to right bottom,rgba(235, 76, 59, 0.9), rgba(20, 19, 33, 0.5)), url("../img/api-dev-code.png");
}

.brand {
	width: 510px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.big-news span {
  float: right;
  padding: 20px;
}

.pic-detail {
	width: 60%;
	position: absolute;
	left: 20px;
	bottom: 10px
}

.pic-detail .para {
	font-size: 52px;
}
.para {
	font-weight: bold;
	color: white;
	width: 100%;
}

.lower-para {
	padding: 15px;
	font-size: 18px;
	color: white;
}

.small-news-1 {
  background-image :url("../img/sprint_image.jpg");
  position: relative;
}

.small-news-2 {
	background-image :url("../img/tree-cloud.jpg");
	background-position: bottom;
	position: relative;
}

.for-2 {
	width: 80%;
}
.for-2 .para {
  font-size: 24px;
}


.container {
	width: 85%;
	margin: 0 auto;
}

.Latest-news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  width: 100%;
  background-color: blue;
}

.latest-title {
	float: left;
  height: 50px;
  width: auto;
  margin: 10px auto;
}

.latest-title p {
	font-size: 28px;
	font-weight: bold;
	color: red;
}

.for-three-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 600px;
  width: 100%;
  background-color: red;
}
footer {
  width: 100%;
  height: 100px;
  background-color: yellowgreen;
}
@media screen and (max-width: 1020px) {
  .logo {
    display: inline-block;
  }
  .hidden-tablet {
    display: none;
  }
  .Latest-news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .for-three-div {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 780px) {
  .upper-nav-right {
    display: none;
  }
  svg {
  	display: none;
  }
}
@media screen and (max-width: 760px) {
  .hidden-phone {
    display: none;
  }
  .header-sec,
  .Latest-news-grid,
  .for-three-div {
    grid-template-columns: 1fr;
  }
  .big-news {
    grid-row: 1;
  }
  .menu {
    display: inline-block;
    width: 50%;
    height: 40px;
    background-color: burlywood;
  }
   svg {
  	display: none;
  }
}
